.row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    ​
    h1{
        cursor: pointer;
    }
    ​
    .column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    ​
    img{
    ​
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    ​
    .parrafo{
    ​
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    ​
        font-size: 20px;
    }
    ​
    #titulo{
        color: yellow;
    }
    ​
    #p1{
        color: aqua;
    }
    ​
    #p2{
        color: rgb(46, 38, 38);
    }
    ​
    #p3{
        color: blue;
    }
    ​
    #p4{
        color: yellow;
    }
    