.header{
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.row{  
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    text-align: center;
    align-items: center;
}


.column{   
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
}

.borde1{
    border:rgb(189, 189, 189) 1px solid;
    margin: 10px;
    background-color: white;
    /* justify-content: space-evenly; */
}


.img1{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.img2{
    width: 250px;
    height: 200px;
}


.icono{
    font-size:x-large;
    margin: 10px;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

div.sticky {
    position: sticky;
    top: 0;
  }

.titulo{
    font-size: x-large;
    overflow:visible;
}

.boton_personalizado{
    text-decoration: none;
    height:30px;
    cursor: pointer;
    width: 100px;
    margin:17px;
    background-color: white;

}

.principal{
    width: 310px;
    height: 310px;
    padding: 10px;
}

.principal:hover{
    transform:scale(1.25);
}

.cosas{
    font-size: small;
    margin: 10px;
}

.espacio{
    padding: 5px;
}

hr{
    width: 90%;
}

@media (max-width: 1015px) {
    #eliminar{
      display:table-column ;
    }
}

@media screen and (max-width: 800px) {
    input{
      display:none;
    }
}

@media screen and (max-width: 550px) {
    .img2{
      transform: scale(.5);
    }
}