
.row{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.column{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.boton_personalizado{
    text-decoration: none;
    height:40px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #70c5c1;
    border-radius: 6px;
    align-items: center;
    border: 2px solid #70c5c1;
    cursor: pointer;
    width: 280px;
    margin:7px;
}

.buscar{
    height:80px;
    width: 380px;
    margin:7px;
}

.fb{
    color: rgb(17, 0, 252);
    cursor: pointer;
}

.parrafoHeader{
    padding-left: 10px;
    cursor: pointer;
    color: grey;
}

.img{
    width: 450px;
    height: 650px;
    padding: px;
}

.contrasena{
    font-size: 13px;
}


.borde1{
    border:rgb(189, 189, 189) 1px solid;
    margin: 10px;
    width: 350px;
}

input{
    position:relative;
    height:40px;
    width:280px;
    padding:20px;
    margin:7px;
}

.cuenta{
    position:relative;
    height:25px;
    width:310px;
    padding:20px;
    margin:7px;

}

.linea1{
    height: 2px;
    background-color: rgb(189, 189, 189) ;
    width: 50px;
    margin: 5px;
}

.linea2{
    height: 2px;
    background-color: rgb(189, 189, 189) ;
    width: 50px;
    margin: 5px;
}

@media (max-width: 850px) {
    #eliminar{
      display: none;
    }
  }

/* .borde2{
    border:grey 3px solid;
} */